
		<li><h2 class="mtop">Shop Importer Button</h2>
			<div class="mtop text18 gray6">Simply drag and drop the following "Shop Importer" button to your browser's toolbar.</div>
			<div style="margin-top:20px;padding:20px" class="gradbg">
			<div class="left">
			<a class="graybutton buttonshadow textdecno" style="padding:10px 20px 10px 20px" title="Shop Importer" 
			href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://shopimporter.com/js/shopimporter.js?r='+Math.random()*9999);document.body.appendChild(e)})());" onclick="alert('Drag me to the bookmarks bar'); return false;">
					   Shop Importer
			  </a></div>
			<div style="width:380px"> Add this to your Bookmarks Bar</div>
			</div>
		</li>
