<template>
  <div id="hello">
    <img src="https://vuejs.org/images/logo.png">
    <h1>{{ showIntro }}</h1>
    <button v-on:click="signOut">Sign Out</button>
  </div>
</template>

<script>
export default {
  name: 'dashboard',
    computed: {
    username () {
      // We will see what `params` is shortly
      return this.$route.params.username
    }
  },
  data () {
    var test = 'ok';
    return {
      showIntro: 'Welcome to the logged in area'
    }
  },
  methods: {
    signOut: function() {
      let authFunctions = require('./../js/auth.js')
      authFunctions.signOut()
    }
  }
}
</script>
