<template>
  <div id="footer">
    <p>{{ showFooter }}</p>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://image.freepik.com/free-vector/merry-christmas-illustration_23-2147527653.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://images-na.ssl-images-amazon.com/images/I/51eqgrtGr7L._SX258_BO1,204,203,200_.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://t3.ftcdn.net/jpg/00/96/65/00/500_F_96650097_iqzAoziVVvwuiue0bVHrXwHlK590jYNH.jpg"></a>
  </div>

  </div>
</template>

<script>
// $(document).ready(function(){
    //  $('.carousel').carousel();
  //  });
export default {
  name: 'foot',
  data () {
    return {
      showFooter: 'Footer :)'
    }
  }
}
</script>
