<template>
  <div id="hello">
    <img src="https://vuejs.org/images/logo.png">
    <h1>{{ showIntro }}</h1>
  </div>
</template>

<script>
export default {
  name: 'hello',
    computed: {
    username () {
      // We will see what `params` is shortly
      return this.$route.params.username
    }
  },
  data () {
    var test = 'ok';
    return {
      showIntro: 'Welcome to the logged in area'
    }
  }
}
</script>

<style scoped>
#hello {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #ff0000;
}
</style>
