<template>
    <div class="row">
      <div class="col m1 l3"/>
      <div class="col s12 m10 l6">
        <div class="card white">
          <div class="card-content">
            <span class="card-title">Sign In</span>
            <form v-on:submit.prevent="signIn">
              <input type="text" v-model="email" placeholder="Email">
              <input type="password" v-model="password" placeholder="Password">
              <div class="card-action">
                <button class="btn waves-effect waves-light" type="submit" name="action">Sign In</button>
                <router-link to="/signup" class="waves-effect waves-light btn">Sign Up</router-link>
              </div>
            </form>
            <div>
                <!-- change this image soon -->
                <img src="https://i.stack.imgur.com/XzoRm.png" @click="signInWithGoogle" style="width:300px;height:50px"/>
            </div>
          </div>
        </div>
      </div>
      <div class="col m1 l3"/>
    </div>
</template>

<script>
export default {
  name: "login",
  data: function() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    signIn: function() {
      const email = this.email;
      const password = this.password;
      let authFunctions = require("./../js/auth.js");
      authFunctions.signIn(email, password);
    },
    signInWithGoogle: function() {
      let authFunctions = require("./../js/auth.js");
      authFunctions.signInViaGoogle();
    }
  }
};
</script>
