<template>
  <div class="row">
    <div class="col m1 l3"/>
    <div class="col s12 m10 l6">
      <div class="card white">
        <div class="card-content">
          <span class="card-title">Let's create a new account !</span>
          <form v-on:submit.prevent="signUp">
            <input type="text" v-model="email" placeholder="Email">
            <input type="password" v-model="password" placeholder="Password">
            <div class="card-action">
              <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up</button>
              <router-link to="/login" class="waves-effect waves-light btn">Sign In</router-link>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col m1 l3"/>
  </div>
</template>

<script>
  export default {
    name: 'signup',
    data: function() {
      return {
        email: '',
        password: ''
      }
    },
    methods: {
      signUp: function() {
        this.FireBase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
          (user) => {
            this.$router.replace('hello')
          },
          (err) => {
            alert('Oops. ' + err.message)
          }
        );
      }
    }
  }
</script>
