<template>
<div>
  <nav class="indigo">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li v-if="userLoggedIn">
          <div>
            <span>Email: {{ email }}</span>
            <span>Photo: {{ photo }}</span>
            <span>Name: {{ name }}</span>
            <span>User Id: {{ userId }}</span>
          </div>
        </li>
        <li v-else><router-link :to="{ name: 'login' }">Login</router-link></li>
        
      </ul>
    </div>
  </nav>
</div>
</template>

<script>
export default {
  name: "Topnav",
  data: function() {
    return {
      email: "",
      photo: "",
      name: "",
      userId: ""
    }
  },
  computed: {
    userLoggedIn: function () {
      const signedIn = this.$store.state.user.signedIn
      if(signedIn){
        this.email = this.$store.state.user.email
        this.photo = this.$store.state.user.photo
        this.name = this.$store.state.user.name
        this.userId = this.$store.state.user.userId
      }
      
      return signedIn
    }
  }
}
</script>