<template>
  <div>
    <topnav></topnav>
    <router-view></router-view>    
    <foot></foot>
  </div>
</template>
<script>
import Topnav from './components/Topnav.vue'
import Foot from './components/Footer.vue'
export default {
  name: 'mainApp',
  components: {
    Topnav,
    Foot
  }
}
</script>

